@import '../../sassStyles/mixins';

$headerHeight: 5em;

.header {
    width: 100%;
    height: $headerHeight;
    position: relative;

    .wrapper {
        background-color: lightblue;
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        
        .logo {
            text-decoration: underline;
        }

        .nav {
            display: flex;

            .nav-links {
                display: none;

                @include mdMinBreakPoint() {
                    display: flex;
                }
                

                .nav-link {
                    padding-left: 2em;

                    a {
                      color: black;  
                    }
    
                    .active {
                        font-weight: 700;
                        pointer-events: none;
                    }
                }
            }
            
            .nav-button {
                width: 1.7rem;
                height: 1.7rem;

                svg {
                    width: inherit;
                    height: inherit;
                }

                @include mdMinBreakPoint() {
                    display: none;
                }

            }

        }
    }
}