@import "../../../sassStyles/mixins";

.button-nav {
    width: 1.7rem;
    height: 1.7rem;

    svg {
        width: inherit;
        height: inherit;
    }

    @include lgMinBreakPoint() {
        display: none;
    }

}